@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --dk: #1a1a1a;
  --md: #2d2d2d;
  --lt: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: white;
  font-size: 1rem;
  padding: 8vh 18.75vw 0 18.75vw;
  background-color: var(--dk);
}

/* Search bar styling */

form#search-form {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

form#search-form input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  display: block;
  width: calc(225px - 24px);
  margin-right: 24px;
  font-size: 100%;
  padding: 11px 28px 11px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: var(--md);
}

form#search-form input[type='search']:focus {
  outline: none;
}

form#search-form input[type='search']::placeholder {
  color: var(--lt);
}

form#search-form button[type='submit'] {
  display: block;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 24px;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  transition: background-color 200ms ease-in-out;
}

form#search-form button[type='submit']:hover {
  background-color: #ddd;
}

form#search-form button[type='submit'] img {
  position: relative;
  top: 2px;
}

/* Weather info styling */

#weather-info {
  width: 31.25vw;
  min-width: 450px;
  margin: 9vh auto 0;
  text-align: center;
}

#weather-info .city {
  font-size: 32px;
  margin-bottom: 8px;
}

#weather-info .temp {
  font-size: 96px;
  margin-bottom: 4px;
}

#weather-info .details {
  margin-top: 48px;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

#weather-info .details-item {
  font-size: 14px;
  text-align: initial;
  padding: 12px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--md);
}

#weather-info .details-item:nth-of-type(7),
#weather-info .details-item:nth-of-type(8) {
  border-bottom: none;
}

#weather-info .details-item-name {
  color: var(--lt);
}

/* Switch temp converter */

.temp-converter {
  position: fixed;
  bottom: 64px;
  width: fit-content;
}

.temp-converter-label {
  font-size: 12px;
  color: var(--lt);
  text-align: center;
  margin-bottom: 6px;
}

#temp-switch {
  display: none;
}

.temp-converter .switch label {
  width: 87px;
  height: 35px;
  background-color: var(--dk);
  border: solid 2px var(--md);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.temp-converter .switch label span {
  text-align: center;
  position: relative;
  z-index: 2;
}

.temp-converter .switch label span.bar {
  width: 2px;
  height: 100%;
  background-color: var(--md);
}

.temp-converter .switch label::after {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  z-index: 0;
  height: 100%;
  width: 50%;
  background-color: var(--md);
  transition: right 300ms ease-in-out;
}

.temp-converter .switch #temp-switch:checked + label::after {
  right: 0;
}

/* Mobile styling */

@media screen and (max-width: 750px) {
  body {
    padding: 8vw 16px 0 16px;
  }
  #weather-info {
    width: 100%;
    min-width: initial;
  }
  #weather-info .details {
    column-gap: 16px;
  }
  .temp-converter {
    bottom: 16px;
  }
}

@media screen and (max-width: 420px) {
  #weather-info .city {
    font-size: 24px;
    margin-bottom: 4px;
  }

  #weather-info .temp {
    font-size: 64px;
    margin-bottom: 4px;
  }

  #weather-info .details-item {
    font-size: 12px;
  }
}
